@import url(https://fonts.googleapis.com/css2?family=Rye&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container
{  
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

 /* CABECALHO */
.cabecalho 
{

    
    overflow: hidden;

    width: 100%;
    height: 260px;

    background-image: linear-gradient(90deg,#66432c -1%, #060505 75%);

}

    .cabecalho .container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        text-decoration: none;
        
    }

    .cabecalho img 
    {
        height: 260px;
    }

    .cabecalho a 
    {
        text-decoration: none;
        font-family: "Rye", "Ubuntu", sans-serif;
        color: #fff;
        
        animation-name: tituloMove;
        animation-duration: 2s;

        font-size: 100px;
    }

    @keyframes tituloMove {
        from{font-size: 0px}
        to {font-size : 100px}
    }

    

/* FIM DO CABECALHO */

/* ESTILO DOS BOTÕES */

:root {
  --color: #734E38;
}

.button {
  display: flex;
  padding: 5px 20px;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 11px;
  font-family: Arial;
  text-decoration: none;
  font-size: 16px;
}

.button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color);
  border-radius: 10rem;
  z-index: -2;
}

.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(107, 71, 50); /* darken(#0cf, 15%) approximado */
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.button:hover {
  color: #fff;
}

.button:hover::before {
  width: 100%;
}

/* Reset e estilo adicional */


.container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #777;
}

span {
  display: block;
  margin-top: 2rem;
  font-size: 0.7rem;
  color: #777;
}

span a {
  font-size: 0.7rem;
  color: #b98a8a;
  text-decoration: underline;
}

    

/* FIM */


/* MENU */

.menu 
    {     
        background-image: linear-gradient(180deg,#fff 0%, #dbdbdb 100%);

        width: 100%;
        height: 50px;

        

    }

    .menu ul
    {


        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: space-around;
        align-items: center;

        width: 100%;
    }




    

    


